{
	"client_1":
	{
		"id":1,
		"connect_ip":"112.13.170.138",
		"port":4007,
		"max_client_count": 50,
		"log_path":"./logs/robot_1_%datetime{%Y%M%d}.log",
		"log_level":3,
		"lua_path":"./luascript/robot/robot_main.lua"
	},
	"client_2":
	{
		"id":2,
		"connect_ip":"112.13.170.138",
		"port":4007,
		"max_client_count": 50,
		"log_path":"./logs/robot_2_%datetime{%Y%M%d}.log",
		"log_level":3,
		"lua_path":"./luascript/robot/robot_main.lua"
	},
	"client_3":
	{
		"id":3,
		"connect_ip":"112.13.170.138",
		"port":4007,
		"max_client_count": 50,
		"log_path":"./logs/robot_3_%datetime{%Y%M%d}.log",
		"log_level":3,
		"lua_path":"./luascript/robot/robot_main.lua"
	},
	"client_4":
	{
		"id":4,
		"connect_ip":"112.13.170.138",
		"port":4007,
		"max_client_count": 50,
		"log_path":"./logs/robot_4_%datetime{%Y%M%d}.log",
		"log_level":3,
		"lua_path":"./luascript/robot/robot_main.lua"
	},
	"client_5":
	{
		"id":5,
		"connect_ip":"112.13.170.138",
		"port":4007,
		"max_client_count": 30,
		"log_path":"./logs/robot_5_%datetime{%Y%M%d}.log",
		"log_level":3,
		"lua_path":"./luascript/robot/robot_main.lua"
	},
	"client_6":
	{
		"id":6,
		"connect_ip":"112.13.170.138",
		"port":4007,
		"max_client_count": 30,
		"log_path":"./logs/robot_6_%datetime{%Y%M%d}.log",
		"log_level":3,
		"lua_path":"./luascript/robot/robot_main.lua"
	},
	"client_7":
	{
		"id":7,
		"connect_ip":"112.13.170.138",
		"port":4007,
		"max_client_count": 30,
		"log_path":"./logs/robot_7_%datetime{%Y%M%d}.log",
		"log_level":3,
		"lua_path":"./luascript/robot/robot_main.lua"
	}
}
