{
	"gate" :
	{
		"gate_1":
		{
			"id":1,
			"listen_ip": "0.0.0.0",
			"connect_ip":"172.17.17.106",
			"port": 4010,
			"console_port":4011,
			"log_path":"./logs/gate_1_%datetime{%Y%M%d}.log",
			"log_level":0
		}
	},

	"fight":
	{
		"fight_300":
		{
			"id":300,
			"listen_ip":"0.0.0.0",
			"connect_ip":"172.17.17.106",
			"port":7000,
			"console_port":7001,
			"log_path":"./logs/fight_300_%datetime{%Y%M%d}.log",
			"log_level":2,
			"lua_path":"./luascript/main.lua"
		}
	},

	"game":
	{
		"game_123":
		{
			"id":123,
			"listen_ip": "172.17.17.106",
			"connect_ip":"172.17.17.106",
			"port": 6000,
			"console_port":6001,
			"log_path":"./logs/game_123_%datetime{%Y%M%d}.log",
			"log_level":0,
			"lua_path":"./luascript/main.lua",
			"db": "dbproxy_201",
			"line_scene_type":1
		}
	},

	"gamemanager":
	{
		"id":9999,
		"listen_ip": "127.0.0.1",
		"connect_ip":"172.17.17.106",
		"port": 9999,
		"console_port":9998,
		"log_path":"./logs/gamemanager_%datetime{%Y%M%d}.log",
		"log_level":0
	},
	
	"center_server":
	{
		"game_123"	:
		{
			"arena_service":1,
			"country_service":2,
			"faction_service":3,
			"mail_service":4,
			"ranking_service":5,
			"shop_service":6,
			"team_service":7,
			"friend_service":8,
			"cross_server_arena_service":9,
			"line_service":10
		}
	},

	"dbproxy":
	{
		"dbproxy_201":
		{
			"id":201,
			"listen_ip": "127.0.0.1",
			"connect_ip":"172.17.17.106",
			"port": 7100,
			"console_port":7101,
			"log_path":"./logs/dbproxy_201_%datetime{%Y%M%d}.log",
			"log_level":0
		}
	},
	
	"login":
	{
		"login_567":
		{
			"id":567,
			"listen_ip": "0.0.0.0",
			"connect_ip":"127.0.0.1",
			"port": 1234,
			"console_port":7101,
			"log_path":"./logs/dbproxy_201_%datetime{%Y%M%d}.log",
			"log_level":0
		}		
	},
	
	"mongo":
	{
		"address":"10.0.253.13:27017",
		"dbname":"syztlby",
		"username":"shangyz",
		"pwd":"shangyz"
	},
    
	"redis":
	{
		"address":"10.0.253.13",
		"port": 9988
	},
	
	"server_id":9992
}
